<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CMC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <CMC.My.MySettings>
      <setting name="logfilepath" serializeAs="String">
        <value />
      </setting>
      <setting name="hw" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nw" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sv" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="defdomain" serializeAs="String">
        <value />
      </setting>
      <setting name="HistoryList" serializeAs="String">
        <value />
      </setting>
      <setting name="HistorySize" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="defAltUser" serializeAs="String">
        <value>administrator</value>
      </setting>
      <setting name="defAltPass" serializeAs="String">
        <value>to/0Po8O6rOkIx0Rp/F98A==</value>
      </setting>
      <setting name="psexecpath" serializeAs="String">
        <value />
      </setting>
      <setting name="softwaresource" serializeAs="String">
        <value>C:\</value>
      </setting>
    </CMC.My.MySettings>
  </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
